
name: Docker Build dev

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_LOGIN_SERVER_dev }}
        username: ${{ secrets.ACR_USERNAME_dev }}
        password: ${{ secrets.ACR_PASSWORD_dev }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: acr0ai4accountancy0dev.azurecr.io/backend-ai4accountancy-dev-northeurope:latest
